Django==4.2.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-environ==0.11.2
django-storages==1.14.2
django-filter==23.5
Pillow==10.2.0
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
channels==4.0.0
channels-redis==4.1.0
firebase-admin==6.4.0
PyJWT==2.8.0
cryptography==41.0.7
boto3==1.34.11
drf-spectacular==0.27.1
django-mptt==0.16.0
django-simple-history==3.4.0
gunicorn==21.2.0
uvicorn==0.27.0
whitenoise==6.6.0
python-decouple==3.8
requests==2.31.0
Faker==22.0.0
# Reports
openpyxl==3.1.2
reportlab==4.0.9
arabic-reshaper==3.0.0
python-bidi==0.4.2
# Rate limiting / security extras
django-ratelimit==4.1.0
django-axes==6.3.0
